<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.androidquery.test"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="4" />
    
      
    <uses-permission android:name="android.permission.INTERNET" /> 
     
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   
    
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    
    <instrumentation android:targetPackage="com.androidquery.test" android:name="android.test.InstrumentationTestRunner" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">

    	<uses-library android:name="android.test.runner" />
    	<activity android:name=".AQueryTestActivity"></activity>
    	
    </application>
</manifest>